.Country {
    width: 100%;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.Country-title {
    border-bottom: 1px solid #888;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Country-maps {
    display: flex;
}

    .Country-maps .CountrySvg {
        margin-left: 10px;
    }

    .Country-maps .CountrySvg:first-child {
        margin-left: 0;
    }
