.CountrySvg {
    height: 700px;
    width: 700px;
    min-height: 700px;
    min-width: 700px;
    background-color: #e2e2e2;
}
    .CountrySvg svg {
        background-color: #aaa;
    }

    .CountrySvg-inner {
        position: relative;
    }
        .CountrySvg-areaSelector {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
            .CountrySvg-areaSelector-inner {
                height: 700px;
                width: 700px;
            }
        .CountrySvg-dot {
            position: absolute;
            color: white;
            font-size: 10px;
        }

        .CountrySvg-dot::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 4px;
            width: 4px;
            border-radius: 50%;
            margin-left: -2px;
            margin-top: -2px;
            background: red;
        }
